# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view': [
    {
      'label': 'TFS'
      'submenu': [
        {
          'label': 'Get Latest Version'
          'command': 'atom-tfs:get'
        }
      ]
    }
  ]
  'atom-text-editor': [
    {
      'label': 'TFS'
      'submenu': [
        {
          'label': 'Get Latest Version'
          'command': 'atom-tfs:get'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'TFS'
      'submenu': [
        {
          'label': 'Get Latest Version'
          'command': 'atom-tfs:get'
        }
      ]
    ]
  }
]
