# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  # '.tree-view': [
  #   {
  #     'label': 'TFS'
  #     'submenu': [
  #       {
  #         'label': 'Get Latest Version'
  #         'command': 'atom-tfs:get'
  #       }
  #     ]
  #   }
  # ]
  'atom-text-editor': [
    {
      'label': 'TFS'
      'submenu': [
        { 'label': 'Open TFS Pane', 'command': 'atom-tfs:open' }
        { type: 'separator' }
        { 'label': 'Check In', 'command': 'atom-tfs:checkin' }
        { 'label': 'Get Latest Version', 'command': 'atom-tfs:get' }
        { 'label': 'Undo Pending Changes', 'command': 'atom-tfs:undo' }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'TFS'
      'submenu': [
        { 'label': 'Open TFS Pane', 'command': 'atom-tfs:open' }
        { type: 'separator' }
        { 'label': 'Check In', 'command': 'atom-tfs:checkin' }
        { 'label': 'Get Latest Version', 'command': 'atom-tfs:get' }
        { 'label': 'Undo Pending Changes', 'command': 'atom-tfs:undo' }
      ]
    ]
  }
]
